button.sakchyam-button,a.sakchyam-button {
    padding: .5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    font-size: .875rem;
    color: $color-white;
    background-color: $blue-dark;
    @include transition(all .5s ease-in-out);
    box-shadow: none;
    border: none;
    font-family: $montserrat;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;

    &:hover {
        @include boxshadow($boxshadow:0 10px 25px rgba($color-secondary, 0.40));
    }
    &.border-button{
        border:1px solid $color-secondary;
        background-color: transparent;
        color:$color-secondary;
        text-transform: capitalize;
        padding: 0.5rem 1rem;
        
        &:hover {
            @include boxshadow($boxshadow:0 10px 25px rgba($color-secondary, 0.40));
        }
    }
    &.sm-button{
        padding: 0.25rem 1rem;
        min-width: auto;
    }
}
.action-btn{
    width:100%;
    .sm-button:last-child{
        margin-left: 0.6125rem;
    }
}

.mobile_menu {
    box-shadow: none;
    border:0;
    background-color: transparent;
    padding:0;
    margin:0;
    i {
        color: $color-white;
        background-color: $color-secondary;
        border: 0;
        padding: 0.5rem;
        @include flexvr;
        align-items: center;
        flex-direction: column;
        @include radius(5px);
    }
}

button {
    -webkit-outline: none;
    outline: none;
    cursor: pointer;

    &:focus {
        -webkit-outline: none;
        outline: none;
    }

}


