// COLOR
$color-primary:#000000;
$primary-light:#757575;
$color-white:#ffffff;
$color-secondary:#FEE748;
$secondary-dark:#F4A535;
$secondary-light:#FFFCE8;
$color-bg:#F7F7F7;
$color-bg-text:#B6B6B6;
$color-blue:#D9002A;
$blue-dark:#BE0017;
$blue-light:#96A5CD;
$color-grey:#e3e3e3;
$color-error:#F1A153;
$color-heading:#3b3b3b;
$color-nav:#27293d;
$color-light:#ffffff;
$color-pink:#f0638c;
$color-focus:#E6E9F3;
$color-border:#E2E2E2;
$red-light:#FFEAEE;
$color-green:#18D838;
// font-family

$raleway:'Titillium Web',
sans-serif;
$montserrat:'Titillium Web',
sans-serif;


//Break point
$mb-sm:375px;
$mb-md:480px;
$mb-lg:576px;
$mb-xl:767px;
$pt-tab:768px;
$md-tab:768px 991px;
$lg-tab:991px;
$ls-tab:1024px;
$desktop:1200px;
$md-desktop:1440px;
$medium-desktop:1368px;