{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.view_automation %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="#">Visualization</a>
            </li>

            <li>
                Automation Partners
            </li>

        </ul>
        {% if perms.api.add_automation %}
        <div class="buttons is-end">
            <a href="/dashboard/automation_partners-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Data</button>
            </a>

            <a href="/dashboard/automation_partners-bulk-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Bulk Data</button>
            </a>

        </div>


        {% endif %}
    </div>
    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Alert!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="logframe-table dataTable">
                <thead>
                <tr>

                    <th>Partner</th>
                    <th>Date</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Beneficiary</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in list %}
                <tr>
                    <td>{{ data.partner.name }}</td>
                    <td>{{ data.date }}</td>
                    <td>{{ data.latitude }}</td>
                    <td>{{ data.longitude }}</td>
                    <td>{{ data.beneficiary }}</td>


                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                {% if perms.api.change_automation %}
                                <li>
                                    <a href="/dashboard/automation_partners-edit/{{data.id}}"
                                       class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.api.delete_automation %}
                                <li>
                                    <a href="/dashboard/automation_partners-delete/{{data.id}}" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
{% endif %}
{% endblock %}