{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.view_automation %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/automation-list">Visualiation</a>
            </li>

            <li>
                Automation
            </li>

        </ul>
        {% if perms.api.add_automation %}
        <div class="buttons is-end">
            <a href="/dashboard/automation-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Data</button>
            </a>

            <a href="/dashboard/automation-bulk-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Bulk Data</button>
            </a>

            <a href="/dashboard/automation_partners-list">
                <button type="submit" class="sakchyam-button sm-button"> Manage Partner</button>
            </a>

        </div>


        {% endif %}
    </div>
    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Alert!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="logframe-table dataTablePartner">
                <thead>
                <tr>

                    <th>Province</th>
                    <th>District</th>
                    <th>Municipality</th>
                    <th>Name of partner institution</th>
                    <th>Branch Name</th>
                    <th>Number of Tablets Deployed</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in list %}
                <tr>
                    <td>
                        {{ data.province_id.name }}
                    </td>
                    <td>{{ data.district_id.name }}</td>
                    <td>{{ data.municipality_id.name }}</td>
                    <td>{{ data.partner }}</td>
                    <td>{{ data.branch }}</td>
                    <td>{{ data.num_tablet_deployed }}</td>


                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                {% if perms.api.change_automation %}
                                <li>
                                    <a href="/dashboard/automation-edit/{{data.id}}"
                                       class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.api.delete_automation %}
                                <li>
                                    <a href="/dashboard/automation-delete/{{data.id}}" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination">
                    <div class="paging-left">
                        <div class="page-item">
                            <p>Showing <span class="show-start">1</span>to<span class="show-end">10</span>of<span class="total-entries"></span>{{ page_obj.paginator.num_pages }}</p>
                        </div>

                    </div>
                    <div class="paging-right">
                        {% if page_obj.has_previous %}
                        <div class="page-item pre-page">
                            <a href="?page={{ page_obj.previous_page_number }}" >previous page</a>
                        </div>
                        {% endif %}
                        <ul>
                            {% for page in page_range %}
                            <li {% if page == page_obj.number %} class="active" {% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}
                        </ul>
                        {% if page_obj.has_next %}
                        <div class="next-page page-item">
                            <a href="?page={{ page_obj.next_page_number }}">next page</a>
                        </div>
                        {% endif %}
                    </div>
                    </div>

        </div>

</main>
{% endif %}
{% endblock %}