{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="#">Automation</a>
            </li>

            <li>Upload Bulk Data</li>
        </ul>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{  message | safe }}</strong>
            </div>
        {% endfor %}
    {% else %}
    <form class="program-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="fileUpload">Upload your file</label>
            <br>
            <input type="file" name="autofile" id="autofile" required>
        </div>
        <div class="form-group">
            <button type="submit" class="sakchyam-button sm-button">Upload</button>
        </div>
    </form>
    <h3 style="color: red;">Note:</h3>
    <p>1. Please upload a .csv or .xls file </p>
    <p>2. Order of the file columns should be Province, District, Municipality, Partner, Branch, No. of Tablets</p>
    {% endif %}
</main>

{% endblock %}