{% load static %}
<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive sakchyam Dashboard.">
    <title>sakchyam Dashboard</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-select.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>

<body class="">
<div class="sakchyam-wrapper">
    <!-- header start -->
    <header class="sakchyam-header" id="header">
        <!-- brand start -->
        <div class="navbar-brand">

            <a href="/dashboard/main"><img src="{% static 'dashboard/images/sakchyam-logo.png' %}" width="100"
                                      alt="sakchyam"></a>
        </div>
        <nav class="navbar navbar-static-top navbar-expand-lg">
            <button class="btn-icon mobile_menu" type="button"><i class="material-icons">menu</i></button>

            <div class="navbar-right ">
                <ul class="nav navbar-nav">
                    <!-- User Account -->
                    <li class="dropdown user-menu">
                        <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"
                                aria-expanded="false">
                            {% for data in thumbnaildata %}
                            {% if data %}
                            <img src="{{ data.thumbnail.url }}" class="user-image" alt="{{ user.username }}">
                            {% else %}
                            <img src="{% static 'dashboard/images/avatar.png' %}" class="user-image" alt="User Image">
                            {% endif %}
                            {% endfor %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                            <!-- User image -->

                            <li class="dropdown-footer">
                                <a href="/logout"> <i class="material-icons">power_settings_new</i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <figure class="ukaid">
                                <img src="{% static 'dashboard/images/ukaid.png' %}" alt="ukaid"/>
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


    </header>
    <div class="page-wrapper">
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <button class="btn-menu ls-toggle-btn" type="button"><i class="material-icons">menu</i><span>Menu</span>
            </button>
            <!-- sidebar menu start -->
            <div class="menu">
                <ul class="list">
                    <li class="{{ dashboard }} menu-item "><a href="/dashboard/main"><i
                            class="material-icons">dashboard</i><span>Dashboard</span></a>

                    </li>
                        {% if perms.api.view_logdata or perms.api.view_automation or perms.api.view_financialliteracy or perms.api.view_outreach or perms.api.view_productprocess or perms.api.view_partnership or perms.api.view_insurance or perms.api.view_mfs %}
                    <li class="{{ logcat }} {{ automation }} {{ financialliteracy }} {{ outreach }} {{ productprocess }} {{partnership}} {{insurance}} {{mfss}} menu-item menu-toggle"><a href="javascript:void(0);" class="">
                        <i class="material-icons">assignment</i>
                        <span>Visualisation</span></a>

                        <ul class="  ml-menu">

                            <!--                            <li><a href="/dashboard/logsubcat-list/{{ log.id }}">{{log.name}}</a></li>-->
                            {% if perms.api.view_logdata %}
                            <li class=" {{ logcat }}"><a href="/dashboard/logcat-list/">Logical Framework</a></li>
                            {% endif %}
                            {% if perms.api.view_automation %}
                            <li class="{{ automation }}" ><a href="/dashboard/automation-list"> Automation(Tablet Deployed)</a></li>
                            {% endif %}
                            {% if perms.api.view_financialliteracy %}
                            <li class="{{ financialliteracy }}"><a href="/dashboard/financialliteracy-list">Financial Literacy</a></li>
                            {% endif %}
                            {% if perms.api.view_outreach %}
                            <li class="{{ outreach }}"><a href="/dashboard/outreach-list">Outreach Expansion</a></li>
                            {% endif %}
                            {% if perms.api.view_productprocess %}
                            <li class="{{ productprocess }}"><a href="/dashboard/productprocess-list">Product Process</a></li>
                            {% endif %}
                            {% if perms.api.view_partnership %}
                            <li class="{{ partnership }}"><a href="/dashboard/partnership-list">Partnership</a></li>
                            {% endif %}
                            {% if perms.api.view_insurance %}
                            <li class="{{insurance}}"><a href="/dashboard/insurance-list">Insurance</a>
                            </li>
                            {% endif %}
                            {% if perms.api.view_mfs %}
                            <li class="{{mfss}} "><a href="/dashboard/mfs-list">Mobile Financing Services</a>
                            </li>
                            {% endif %}
                            


                        </ul>

                    </li>
                    {% endif %}
                    {% if perms.api.view_partner %}
                    <li class="{{partner}} menu-item"><a href="/dashboard/sakchyam-partners">
                        <i class="material-icons">group</i><span>Sakchyam Partners</span></a>
                    </li>
                    {% endif %}
                    {% if perms.api.view_project %}
                    <li class="{{project}}  menu-item"><a href="/dashboard/sakchyam-project">
                        <i class="material-icons">build</i><span>Sakchyam Projects</span></a>
                    </li>
                    {% endif %}
                    {% if perms.api.view_product %}
                    <li class="{{product}}  menu-item"><a href="/dashboard/sakchyam-product">
                        <i class="material-icons">pending_action</i><span>Sakchyam Products</span></a>
                    </li>
                    {% endif %}
                    {% if perms.api.view_secondarydata %}
                    <li class="{{secondarydata}}  menu-item"><a href="/dashboard/secondary_data-list">
                        <i class="material-icons">input</i><span>Secondary Data</span></a>
                    </li>
                    {% endif %}
                    {% if perms.api.view_payment %}
                    <li class="{{payment}}  menu-item"><a href="/dashboard/payment-list">
                        <i class="material-icons">money</i><span>Payment</span></a>
                    </li>
                    {% endif %}

                    {% if perms.api.view_province or perms.api.view_district or perms.api.view_municipality %}
                    <li class="{{province}} {{district}} {{municipalities}}  menu-item menu-toggle"><a href="javascript:void(0);" class=""><i
                            class="material-icons">category</i><span>Location</span></a>

                        <ul class="ml-menu">
                            {% if perms.api.view_province %}
                            <li class="{{province}}"><a href="/dashboard/province-list">Provinces</a></li>
                            {% endif %}
                            {% if perms.api.view_district %}
                            <li class="{{ district }}"><a href="/dashboard/district-list">Districts</a></li>
                            {% endif %}
                            {% if perms.api.view_municipality %}
                            <li class="{{ municipalities }}"><a href="/dashboard/municipalities-list">Municipalities</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}

                    <li class="{{ userman }}  menu-item menu-toggle"><a href="javascript:void(0);" class=""><i
                            class="material-icons">person</i><span>User management</span></a>
                        <ul class="ml-menu">
                            {% if perms.auth.view_user %}
                            <li><a href="/dashboard/role/">Role Management</a></li>
                            {% endif %}
                            {% if perms.auth.view_user %}
                            <li><a href="/dashboard/user/">User Management</a></li>
                            {% endif %}
                            <li><a href="/dashboard/changepassword/">Change Password</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </aside>

        <!-- Main Content -->
        {% block content %}
        {% endblock %}
        <!-- Main Content -->


    </div>

</div>


<!-- Jquery Core Js -->
<script src="{% static 'dashboard/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'dashboard/js/popper.min.js' %}"></script>
<script src="{% static 'dashboard/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap-select.min.js' %}"></script>

<script src="{% static 'dashboard/js/mainscripts.bundle.js' %}"></script>

<script src="{% static 'dashboard/plugins/datatable/dataTables.min.js' %}"></script>
 <script src="{% static 'dashboard/plugins/datatable/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/equalHeight.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatable/dataTables.button.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatable/jszip.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatable/buttons.html5.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatable/custom-datatables.js' %}"></script>
</body>


</html>