{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="/dashboard/user/">User Management</a>
            </li>

            <li>Change Password</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <!-- category form  -->

        <div class="category-form form-card">
            <div class="form-title">
                <h3>User Credentials</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_old_password">Old Password:</label>
                        <input type="password" class="form-control" name="old_password" required id="id_old_password"/>
                        <button type="button" class="sakchyam-button sm-button" style="background-color:whitesmoke;margin-left:20px"><a style="color:#7d7d7d" href="/password-reset">Forgot Password?</a></button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_new_password1">Password:</label>
                        <input type="password" class="form-control" name="new_password1" required id="id_new_password1"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_new_password2">Password confirmation:</label>
                        <input type="password" class="form-control" name="new_password2" required id="id_new_password2"/>
                    </div>
                </div>
            </div>


        </div>

      <!-- default form -->


        <div class="form-group mrt-100">
            <button type="submit" class="sakchyam-button sm-button">Save</button>
        </div>
    </form>
</main>

{% endblock %}
