{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<main class="sakchyam-main">
                <!-- sakchyam breadcrumb -->
                <div class="sakchyam-breadcrumb">
                    <ul class="flex-start">
                        <li>
                            Dashboard
                        </li>
                    </ul>


                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card dashboard-view">
                                <div class="card-body">
                                    <h3>{{ product_count }}</h3>
                                    <p1>Products</p1>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card dashboard-view">
                                <div class="card-body">
                                    <h3>{{ project_count }}</h3>
                                    <p>Projects</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card dashboard-view">
                                <div class="card-body">
                                    <h3>{{ partner_count }}</h3>
                                    <p>Partners</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card dashboard-view">
                                <div class="card-body">
                                    <h3>{{ user_count }}</h3>
                                    <p>Users</p>
                                </div>
                        </div>
                    </div>
                </div>

</main>

{% endblock %}
