{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.change_district %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="/dashboard/municipalities-list">Municipality</a>
            </li>


            <li>Edit Form</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!-- default form -->
        <div class="default-form">


            <div style="display:block">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_province_id" class="">Province</label>
                            <select name="province_id" id="id_province_id" class="selectpicker" data-live-search="true" required>
                                {% for province in province %}
                                    {% if province.id == form.instance.province_id.id %}
                                        <option value="{{ province.id }}" selected>{{province.name}}</option>
                                    {% else %}
                                        <option value="{{ province.id }}" >{{ province.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>





                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_name" class="">Name</label>
                        <input class="form-control" type="text" name="name" maxlength="100" value="{{ form.instance.name }}" required id="id_name" />
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_code" class="">Code</label>
                        <input class="form-control" type="number" name="code" value="{{ form.instance.code }}"
                            id="id_code"></div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_n_code" class="">N Code</label>
                        <input class="form-control" type="number" name="n_code" value="{{form.instance.n_code}}"
                            id="id_n_code"></div>
                </div>

            </div>


            <div class="form-group mrt-100">
                <button type="submit" class="sakchyam-button sm-button">District</button>
            </div>
        </div>
    </form>
</main>
{% endif %}
{% endblock %}