{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="/dashboard/financialliteracy-list">Financial Literacy</a>
            </li>

            <li>Edit Form</li>
        </ul>
    </div>
    <!-- program form -->
    <!-- <form class="program-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        {{ form.as_p }}
        <button type="submit" class="sakchyam-button sm-button">Update</button><span></span>
        <a href="/dashboard/automation-list/"><button  class="sakchyam-button sm-button">Cancel</button></a>
    </form> -->

    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <div class="default-form">

            <div style="display:block">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_partner_type" class="">Partner Type</label>
                            <select name="partner_type" id="id_province_id" class="selectpicker" data-live-search="true" required>
                                
                                    {% if form.instance.partner_type == "Microfinance/Cooperative" %}
                                        <option value="Microfinance/Cooperative" selected>Microfinance/Cooperative</option>
                                        <option value="Commercial Banks and Mobile Network Operators">Commercial Banks and Mobile Network Operators</option>
                                    {% else %}
                                        <option value="Commercial Banks and Mobile Network Operators" selected>Commercial Banks and Mobile Network Operators</option>
                                        <option value="Microfinance/Cooperative" >Microfinance/Cooperative</option>
                                    {% endif %}
                              
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_partner_id" class="">Partner</label>
                            <select name="partner_id" id="id_partner_id" class="selectpicker" data-live-search="true" required>
                                {% for partner in partner_type %}
                                    {% if partner.id == form.instance.partner_id.id %}
                                        <option value="{{ partner.id }}" selected>{{partner.name}}</option>
                                    {% else %}
                                        <option value="{{ partner.id }}" >{{ partner.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_program_id" class="">Program</label>
                            <select name="program_id" id="id_program_id" class="selectpicker" data-live-search="true" required>
                                {% for program_id in program_id %}
                                    {% if program_id.id == form.instance.program_id.id %}
                                        <option value="{{ program_id.id }}" selected>{{ program_id.name }}</option>
                                    {% else %}
                                        <option value="{{ program_id.id }}" >{{ program_id.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_value" class="">Value</label>
                        <input value="{{ form.instance.value }}" class="form-control" type="number" name="value" value="0"
                            id="id_value">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_single_count" class="">Single Count</label>
                        <input value="{{ form.instance.single_count }}" class="form-control" type="number" name="single_count" value="0"
                            id="id_single_count">
                    </div>
                </div>
            </div>



            <div class="form-group mrt-100">
                <button type="submit" class="sakchyam-button sm-button">Update</button>
            </div>
        </div>

        <!-- default form -->
        <!-- <div class="default-form">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_name" class="">Name</label>
                        <input class="form-control" type="text" value="{{ form.instance.name }}" name="name" required id="id_name"/>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_code" class="">Code</label>
                        <input class="form-control" type="text" value="{{ form.instance.code }}" name="code" required id="id_code"/>
                    </div>
                </div>
            </div>

            <div class="form-group mrt-100">
                <button type="submit" class="sakchyam-button sm-button">Update</button>
            </div>
        </div> -->
    </form>
</main>

{% endblock %}