{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.view_financialliteracy %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/financialliteracy-list">Visualization</a>
            </li>

            <li>
                Financial Literacy
            </li>

        </ul>
        {% if perms.api.add_financialliteracy %}
        <div class="buttons is-end">
            <a href="/dashboard/financialliteracy-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Data</button>
            </a>

            <a href="/dashboard/financialliteracy-bulk-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Bulk Data</button>
            </a>

            <a href="/dashboard/financial_program-list">
                <button type="submit" class="sakchyam-button sm-button"> Manage Program</button>
            </a>

        </div>


        {% endif %}
    </div>
    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Alert!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="logframe-table dataTable">
                <thead>
                <tr>

                    <th>Partner Type</th>
                    <th>Partner</th>
                    <th>Program</th>
                    <th>Value</th>
                    <th>Single Count</th>


                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in list %}
                <tr>
                    <td>
                        {{ data.partner_type }}
                    </td>
                    <td>{{ data.partner_id.name }}</td>
                    <td>{{ data.program_id.name }}</td>
                    <td>{{ data.value }}</td>
                    <td>{{ data.single_count }}</td>


                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                {% if perms.api.change_financialliteracy %}
                                <li>
                                    <a href="/dashboard/financialliteracy-edit/{{data.id}}"
                                       class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.api.delete_financialliteracy %}
                                <li>
                                    <a href="/dashboard/financialliteracy-delete/{{data.id}}" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
{% endif %}
{% endblock %}