{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.change_insurance %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="/dashboard/insurance-list">Insurance</a>
            </li>


            <li>Edit Form</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!-- default form -->
        <div class="default-form">


            <div style="display:block">
                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_partner_id" class="">Partner</label>
                            <select name="partner_id" id="id_partner_id" class="selectpicker" data-live-search="true" required>
                                {% for partner in partner %}
                                    {% if partner.id == form.instance.partner_id.id %}
                                        <option value="{{ partner.id }}" selected>{{ partner.name }}</option>
                                    {% else %}
                                        <option value="{{ partner.id }}" >{{ partner.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>




            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_distribution_channel" class="">Distribution Channel</label>
                        <input class="form-control" type="text" name="distribution_channel" maxlength="100" required id="id_distribution_channel" value="{{  form.instance.distribution_channel }}" />
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_innovation" class="">Innovation</label>
                        <input class="form-control" type="text" name="innovation" value="{{  form.instance.innovation }}"
                            id="id_innovation"></div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_product" class="">Product</label>
                        <input class="form-control" type="text" name="product" value="{{  form.instance.product }}"
                            id="id_product"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_description" class="">Description</label>
                        <input class="form-control" type="textarea" name="description" value="{{  form.instance.description }}"
                            id="id_description"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_number_of_insurance_sold" class="">Number Of Insurance Sold</label>
                        <input class="form-control" type="number" name="number_of_insurance_sold" value="{{  form.instance.number_of_insurance_sold }}"
                            id="id_number_of_insurance_sold"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_amount_of_insurance" class="">Amount of Insurance</label>
                        <input class="form-control" type="float" name="amount_of_insurance" value="{{  form.instance.amount_of_insurance }}"
                            id="amount_of_insurance"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_amount_of_sum_insuranced" class="">Amount of Sum Insuranced</label>
                        <input class="form-control" type="float" name="amount_of_sum_insuranced" value="{{  form.instance.amount_of_sum_insuranced }}"
                            id="id_amount_of_sum_insuranced"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_amount_of_claim" class="">Amount of Claim</label>
                        <input class="form-control" type="float" name="amount_of_claim" value="{{  form.instance.amount_of_claim }}"
                            id="id_amount_of_claim"></div>
                </div>

            </div>


            <div class="form-group mrt-100">
                <button type="submit" class="sakchyam-button sm-button">Save</button>
            </div>
        </div>
    </form>
</main>
{% endif %}
{% endblock %}