{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="#">Log Frame</a>
            </li>

            <li>
                <a href="/dashboard/logsubcat-list/{{ categories.first.id }}">{{ categories.first.name }}</a>
            </li>
            <li>
                <a href="/dashboard/logsubcat-list/{{ categories.first.id }}">
                    {{ sub_categories.first.name }}
                </a>
            </li>


            <li>Add Form</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        <!-- category form
        <div class="category-form form-card">
            <div class="form-title">
                <h3>Indicator</h3>
            </div>

        </div> -->

        <!-- default form -->
        <div class="default-form">

            <div style="display:none">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_category" class="">category</label>
                            <select class="selectpicker" name="category" required id="id_category">
                                {% for category in categories %}
                                <option value="{{category.id}}" selected>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_sub_category" class="">sub-category</label>
                            <select class="selectpicker" data-live-search="true" name="sub_category" required
                                    id="id_sub_category">
                                {% for sub_category in sub_categories %}
                                <option value="{{sub_category.id}}" selected>{{sub_category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                </div>


            </div>


            <div class="row">


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_planned_afp" class="">planned budget as afp</label>
                        <input type="text" class="form-control" name="planned_afp" value="0" id="id_planned_afp"/>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_achieved" class="">achieved budget</label>
                        <input type="text" class="form-control" name="achieved" value="0" id="id_achieved"/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_year" class="">Year</label>
                        <select class="selectpicker" data-live-search="true" name="year" required
                                id="id_year">
                            {% for year in years %}
                            <option value="{{year.id}}">{{year.name}}({{year.range}})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_data_type" class="">data type</label>
                        <select class="selectpicker" data-live-search="true" name="data_type" required
                                id="id_data_type">
                            <option value="number" selected>Number</option>
                            <option value="budget" >Budget</option>
                            <option value="percentage">Percentage</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="id_unit" class="">Unit</label>
                        <select class="selectpicker" data-live-search="true" name="unit"
                                id="id_unit">
                            <option value="">----</option>
                            <option value="pound">Pound</option>
                            <option value="rupees">Rupees</option>


                        </select>
                    </div>
                </div>
            </div>


        </div>


        <div class="form-group mrt-100">
            <button type="submit" class="sakchyam-button sm-button">Save</button>
        </div>
    </form>
</main>

{% endblock %}
