{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="#">program</a>
            </li>
            <li>New</li>
        </ul>
    </div>
    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            <table class="logframe-table dataTable">
                <thead>
                <tr>
                    <th width="20%">Product / Services</th>
                    <th>
                        <div class="table-title">
                            <i class="material-icons">assignment</i>
                            <span>Project</span>
                        </div>
                    </th>
                    <th>
                        <div class="table-title">
                            <i class="material-icons">people</i>
                            <span>Partner</span>
                        </div>
                    </th>
                    <th>Component</th>
                    <th>Thematic Area</th>
                    <th>Other</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Product development
                    </td>
                    <td>
                        Mega Bank
                    </td>
                    <td>Saving increasement Model (SIM) Project</td>
                    <td>dinesh.gurung@actionaid.org</td>
                    <td>
                        <div class="component">
                            <span>C1</span>,<span> C4</span>
                        </div>
                    </td>
                    <td>
                        <div class="icons">
                            <span class="icon check"><i class="material-icons">check_circle</i></span>
                        </div>
                    </td>
                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Product development
                    </td>
                    <td>
                        Mega Bank
                    </td>
                    <td>Saving increasement Model (SIM) Project</td>
                    <td>dinesh.gurung@actionaid.org</td>
                    <td>
                        <div class="component">
                            <span>C1</span>,<span> C4</span>
                        </div>
                    </td>
                    <td>
                        <div class="icons">
                            <span class="icon check"><i class="material-icons">check_circle</i></span>
                        </div>
                    </td>
                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Product development
                    </td>
                    <td>
                        Mega Bank
                    </td>
                    <td>Saving increasement Model (SIM) Project</td>
                    <td>dinesh.gurung@actionaid.org</td>
                    <td>
                        <div class="component">
                            <span>C1</span>,<span> C4</span>
                        </div>
                    </td>
                    <td>
                        <div class="icons">
                            <span class="icon check"><i class="material-icons">check_circle</i></span>
                        </div>
                    </td>
                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Product development
                    </td>
                    <td>
                        Mega Bank
                    </td>
                    <td>Saving increasement Model (SIM) Project</td>
                    <td>dinesh.gurung@actionaid.org</td>
                    <td>
                        <div class="component">
                            <span>C1</span>,<span> C4</span>
                        </div>
                    </td>
                    <td>
                        <div class="icons">
                            <span class="icon check"><i class="material-icons">check_circle</i></span>
                        </div>
                    </td>
                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Product development
                    </td>
                    <td>
                        Mega Bank
                    </td>
                    <td>Saving increasement Model (SIM) Project</td>
                    <td>dinesh.gurung@actionaid.org</td>
                    <td>
                        <div class="component">
                            <span>C1</span>,<span> C4</span>
                        </div>
                    </td>
                    <td>
                        <div class="icons">
                            <span class="icon check"><i class="material-icons">check_circle</i></span>
                        </div>
                    </td>
                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</main>
{% endblock %}