{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.view_logdata %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/logcat-list">Log Frame</a>
            </li>
            <li>
                <a href="#">  {{ list.first.category.name }}</a>
            </li>
            <li>
                {{ list.first.category.title }}
            </li>

        </ul>
        {% if perms.api.add_logdata %}
            <a href="/dashboard/logsubcat-add/{{ list.first.category.id }}">
                <button type="submit" class="sakchyam-button sm-button"> Add Data</button>
            </a>
        {% endif %}

    </div>
    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="logframe-table dataTable">
                <thead>
                <tr>

                    <th>Name</th>
                    <th>Title</th>
                    <th>Description</th>


                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in list %}
                <tr>
                    <td>
                        {% if data.LogSubCat.all.count < 1 %}
                        <a href="/dashboard/log-frame-add/{{ list.first.category.id }}/{{ data.id }}">
                            {{data.name}}
                        </a>
                        {% else %}
                         <a href="/dashboard/logframe-list/{{ data.id }}">
                            {{data.name}}
                        </a>
                        {% endif %}
                    </td>
                    <td>{{data.title}}</td>
                    <td>{{data.description}}</td>



                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                {% if perms.api.change_logdata %}
                                <li>
                                    <a href="/dashboard/logsubcat-edit/{{data.id}}/{{ list.first.category.id }}" class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.api.delete_logdata %}
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
{% endif %}
{% endblock %}