{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.change_mfs %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="/dashboard/mfs-list">Msf</a>
            </li>


            <li>Edit Form</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!-- default form -->
        <div class="default-form">


            <div style="display:block">
                    <div class="row">

                                        <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_province_id" class="">Province</label>
                            <select name="province_id" id="id_province_id" class="selectpicker" data-live-search="true" required>
                                {% for province in provinces %}
                                    {% if province.id == form.instance.province_id.id %}
                                        <option value="{{ province.id }}" selected>{{province.name}}</option>
                                    {% else %}
                                        <option value="{{ province.id }}" >{{ province.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_district_id" class="">District</label>
                            <select name="district_id" id="id_district_id" class="selectpicker" data-live-search="true" required>
                                {% for district in districts %}
                                    {% if district.id == form.instance.district_id.id %}
                                        <option value="{{ district.id }}" selected>{{district.name}}</option>
                                    {% else %}
                                        <option value="{{ district.id }}" >{{ district.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>


            </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_partner_id" class="">Partner</label>
                            <select name="partner_id" id="id_partner_id" class="selectpicker" data-live-search="true" required>
                                {% for partner in partners %}
                                    {% if partner.id == form.instance.partner_id.id %}
                                        <option value="{{ partner.id }}" selected>{{ partner.name }}</option>
                                    {% else %}
                                        <option value="{{ partner.id }}" >{{ partner.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_key_innovation" class="">Key Innovation</label>
                        <input class="form-control" type="text" name="key_innovation" maxlength="100" required id="id_key_innovation" value="{{ form.instance.key_innovation }}" />
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_achievement_type" class="">Achievement Type</label>
                        <input class="form-control" type="text" name="achievement_type" value="{{ form.instance.achievement_type }}"
                            id="id_achievement_type" required></div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_achieved_number" class="">Achievement Number</label>
                        <input class="form-control" type="number" name="achieved_number" value="{{ form.instance.achieved_number }}"
                            id="id_achieved_number"></div>
                </div>

            </div>


            <div class="form-group mrt-100">
                <button type="submit" class="sakchyam-button sm-button">Save</button>
            </div>
        </div>
    </form>
</main>
{% endif %}
{% endblock %}