{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.change_outreach %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="/dashboard/outreach-list">OutReach</a>
            </li>


            <li>Edit Form</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!-- default form -->
        <div class="default-form">


            <div style="display:block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_province_id" class="">Province</label>
                            <select name="province_id" id="id_province_id" class="selectpicker" data-live-search="true" required>
                                {% for province in provinces %}
                                    {% if province.id == form.instance.province_id.id %}
                                        <option value="{{ province.id }}" selected>{{province.name}}</option>
                                    {% else %}
                                        <option value="{{ province.id }}" >{{ province.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_district_id" class="">District</label>
                            <select name="district_id" id="id_district_id" class="selectpicker" data-live-search="true" required>
                                {% for district in districts %}
                                    {% if district.id == form.instance.district_id.id %}
                                        <option value="{{ district.id }}" selected>{{district.name}}</option>
                                    {% else %}
                                        <option value="{{ district.id }}" >{{ district.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_municipality_id" class="">Municipality</label>
                            <select name="municipality_id" id="id_municipality_id" class="selectpicker" data-live-search="true" required>
                                {% for municipality in municipalities %}
                                    {% if municipality.id == form.instance.municipality_id.id %}
                                        <option value="{{ municipality.id }}" selected>{{ municipality.name }}</option>
                                    {% else %}
                                        <option value="{{ municipality.id }}" >{{ municipality.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>



            </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_partner_id" class="">Partner</label>
                            <select name="partner_id" id="id_partner_id" class="selectpicker" data-live-search="true" required>
                                {% for partner in partners %}
                                    {% if partner.id == form.instance.partner_id.id %}
                                        <option value="{{ partner.id }}" selected>{{ partner.name }}</option>
                                    {% else %}
                                        <option value="{{ partner.id }}" >{{ partner.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_partner_type" class="">Partner Type</label>
                        <input class="form-control" type="text" name="partner_type" value="{{ form.instance.partner_type }}" required
                            id="id_partner_type"></div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_market_name" class="">Market Name</label>
                        <input class="form-control" type="text" name="market_name" value="{{ form.instance.market_name }}" required
                            id="id_market_name"></div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_expansion_driven_by" class="">Expansion Driven By</label>
                        <input class="form-control" type="text" name="expansion_driven_by" value="{{ form.instance.expansion_driven_by }}" required
                            id="id_expansion_driven_by"></div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_date_established" class="">Date Established</label>
                        <input class="form-control" type="text" name="date_established"   value="{{ form.instance.date_established |date:'m/d/Y' }}" required
                            id="id_date_established"></div>
                </div>

            </div>

            

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_point_service" class="">Point Of Service</label>
                        <input class="form-control" type="text" name="point_service"  required value="{{ form.instance.point_service }}"
                            id="id_point_service" required></div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_g2p_payment" class="">G2P Payment</label>
                        <input class="form-control" type="text" name="g2p_payment" required value="{{ form.instance.g2p_payment }}"
                            id="id_g2p_payment"></div> 
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_gps_point" class="">GPS Point</label>
                        <input class="form-control" type="text" name="gps_point" required value="{{ form.instance.gps_point }}"
                            id="id_gps_point" required></div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_demonstration_effect" class="">Demonstration Effect</label>
                        <input class="form-control" type="text" name="demonstration_effect" required value="{{ form.instance.demonstration_effect }}"
                            id="id_demonstration_effect"></div> 
                </div>

            </div>


            <div class="form-group mrt-100">
                <button type="submit" class="sakchyam-button sm-button">Save</button>
            </div>
        </div>
    </form>
</main>
{% endif %}
{% endblock %}