{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.view_partnership %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="/dashboard/partnership-list">Visualisation</a>
            </li>

            <li>
                Partnership
            </li>

        </ul>
        {% if perms.api.add_partnership %}
        <div class="buttons is-end">
            <a href="/dashboard/partnership-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Data</button>
            </a>

            <a href="/dashboard/partnership-bulk-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Bulk Data</button>
            </a>

            <a href="/dashboard/sakchyam-partners/">
                <button type="submit" class="sakchyam-button sm-button"> Manage Partner</button>
            </a>

        </div>


        {% endif %}
    </div>
    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Alert!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="logframe-table dataTablePartner">
                <thead>
                <tr>

                    <th>Partner ID</th>
                    <th>Project Id</th>
                    <th>Province Id</th>
                    <th>District Id</th>
                    <th>Municipality Id</th>
                    <th>Branch</th>
                    <th>Blb</th>
                    <th>Extension Counter</th>
                    <th>Tablet</th>
                    <th>Other Product</th>
                    <th>Beneficiary</th>
                    <th>Scf Funds</th>
                    <th>Leverage</th>
                    <th>Allocated Budget</th>
                    <th>Allocated Beneficiary</th>
                    <th>Female Percentage</th>
                    <th>Total Beneficiary</th>
                    <th>Female Beneficiary</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Project Year</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in list %}
                <tr>
                    <td>
                         {{ data.partner_id__name }}
                    </td>
                    <td>{{ data.project_id__name }}</td>
                    <td>{{ data.province_id__name }}</td>
                    <td>{{ data.district_id__name }}</td>
                    <td>{{ data.municipality_id__name }}</td>
                    <td>{{ data.branch }}</td>
                    <td>{{ data.blb }}</td>
                    <td>{{ data.extension_counter }}</td>
                    <td>{{ data.tablet }}</td>
                    <td>{{ data.other_products }}</td>
                    <td>{{ data.beneficiary }}</td>
                    <td>{{ data.scf_funds }}</td>
                    <td>{{ data.leverage }}</td>
                    <td>{{ data.allocated_budget }}</td>
                    <td>{{ data.allocated_beneficiary }}</td>
                    <td>{{ data.female_percentage }}</td>
                    <td>{{ data.total_beneficiary }}</td>
                    <td>{{ data.female_beneficiary }}</td>
                    <td>{{ data.status }}</td>
                    <td>{{ data.start_date }}</td>
                    <td>{{ data.end_date }}</td>
                    <td>{{ data.project_year }}</td>


                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                {% if perms.api.change_partnership %}
                                <li>
                                    <a href="/dashboard/partnership-edit/{{ data.id }}"
                                       class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.api.delete_partnership %}
                                <li>
                                    <a href="/dashboard/partnership-delete/{{ data.id }}" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


        <div class="pagination">
                    <div class="paging-left">
                        <div class="page-item">
                            <p>Showing <span class="show-start">1</span>to<span class="show-end">500</span>of<span class="total-entries"></span>{{ page_obj.paginator.num_pages }}</p>
                        </div>

                    </div>
                    <div class="paging-right">
                        {% if page_obj.has_previous %}
                        <div class="page-item pre-page">
                            <a href="?page={{ page_obj.previous_page_number }}" >previous page</a>
                        </div>
                        {% endif %}
                        <ul>
                            {% for page in page_range %}
                            <li {% if page == page_obj.number %} class="active" {% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}
                        </ul>
                        {% if page_obj.has_next %}
                        <div class="next-page page-item">
                            <a href="?page={{ page_obj.next_page_number }}">next page</a>
                        </div>
                        {% endif %}
                    </div>
                    </div>

        </div>

</main>
{% endif %}
{% endblock %}