{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.add_project %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="/dashboard/sakchyam-project/">Project</a>
            </li>


            <li>Add Form</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!-- default form -->
        <div class="default-form">


            <div style="display:block">


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_name" class="">Project Name</label>
                        <input class="form-control" type="text" name="name" maxlength="100" required id="id_name" />
                    </div>
                </div>

            </div>



            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_code" class="">Project Code</label>
                        <input class="form-control" type="text" name="code" value="0"
                            id="id_code" required></div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_investment_primary" class="">Primary Investment Focus</label>
                        <input class="form-control" type="text" name="investment_primary" 
                            id="id_investment_primary" required></div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_investment_primary" class="">Secondary Investment Focus</label>
                        <input class="form-control" type="text" name="investment_secondary" 
                            id="investment_secondary" required></div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_leverage" class="">Leverage</label>
                        <input class="form-control" type="number" name="leverage"
                            id="id_leverage"></div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_scf_funds" class="">S-CF FUNDS</label>
                        <input class="form-control" type="number" name="scf_funds"
                            id="id_scf_funds"></div>
                </div>

            </div>


            <div class="form-group mrt-100">
                <button type="submit" class="sakchyam-button sm-button">Save</button>
            </div>
        </div>
    </form>
</main>
{% endif %}
{% endblock %}