{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.view_province %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="#">Location</a>
            </li>

            <li>
                Province
            </li>

        </ul>
        {% if perms.api.add_province %}
        <div class="buttons is-end">
            <a href="/dashboard/province-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Data</button>
            </a>

            <a href="/dashboard/province-bulk-add">
                <button type="submit" class="sakchyam-button sm-button"> Add Bulk Data</button>
            </a>


        </div>


        {% endif %}
    </div>
    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Alert!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="logframe-table dataTable">
                <thead>
                <tr>

                    <th>Name</th>
                    <th>Code</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in list %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.code }}</td>


                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                {% if perms.api.change_province %}
                                <li>
                                    <a href="/dashboard/province-edit/{{data.id}}"
                                       class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.api.delete_province %}
                                <li>
                                    <a href="/dashboard/province-delete/{{data.id}}" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
{% endif %}
{% endblock %}