{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.auth.view_user %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="#">User Management</a>
            </li>

            <li>
                Role List
            </li>

        </ul>
        {% if perms.auth.add_user %}
        <div style="margin-left: 1441px;">
            <a href="/dashboard/add-role">
                <button type="submit" class="sakchyam-button sm-button"> Add Data</button>
            </a>

        </div>
        {% endif %}
    </div>
    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Alert!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="logframe-table dataTable">
                <thead>
                <tr>

                    <th>Id</th>
                    <th>Name</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for group in list %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>
                        <strong><a href="#">{{group.name}}</a></strong>
                    </td>


                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                {% if perms.auth.change_user %}
                                <li>
                                    <a href="/dashboard/edit-role/{{group.id}}"
                                       class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
{% endif %}
{% endblock %}