{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if perms.api.add_secondarydata %}
<!-- Main Content -->

<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">

            <li>
                <a href="/dashboard/secondary_data-list">Secondary Data</a>
            </li>


            <li>Add Form</li>
        </ul>
    </div>
    <!-- program form -->
    <form class="program-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!-- default form -->
        <div class="default-form">


            <div style="display:block">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_province_id" class="">Province</label>
                            <select class="selectpicker" data-live-search="true" name="province_id" required
                                id="id_province_id">
                                {% for province in provinces %}
                                <option value="{{province.id}}" selected>{{province.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_district_id" class="">District</label>
                            <select class="selectpicker" data-live-search="true" name="district_id" required
                                id="id_district_id">
                                {% for district in district %}
                                <option value="{{district.id}}" selected>{{district.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="id_municipality_id" class="">Municipality</label>
                            <select class="selectpicker" data-live-search="true" name="municipality_id" required
                                id="id_municipality_id">
                                {% for municipality in municipality %}
                                <option value="{{municipality.id}}" selected>{{municipality.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                </div>



            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_hdi" class="">HDI Of District</label>
                        <input class="form-control" type="float" name="hdi" placeholder="Enter a Float"
                            id="id_hdi"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_population" class="">Population In The Local Unit</label>
                        <input class="form-control" type="number" name="population" placeholder="Enter a number"
                            id="id_population"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_social_security_recipients" class="">Social Security Payment Recipients</label>
                        <input class="form-control" type="number" name="social_security_recipients" placeholder="Enter a number"
                            id="id_social_security_recipients"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_yearly_social_security_payment" class="">Yearly Social Security Payment</label>
                        <input class="form-control" type="float" name="yearly_social_security_payment" placeholder="Enter a Float"
                            id="id_yearly_social_security_payment"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_nearest_branch_distance" class="">Road Distance From Nearest Commercial Bank Branch(In KM)</label>
                        <input class="form-control" type="float" name="nearest_branch_distance" placeholder="Enter a Float"
                            id="id_nearest_branch_distance"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_yearly_fund" class="">Yearly Central Government Funding</label>
                        <input class="form-control" type="float" name="yearly_fund" placeholder="Enter a Float"
                            id="id_num_yearly_fund"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_nearest_road_distance" class="">Nearest Road Access(Distance(in Kms))</label>
                        <input class="form-control" type="float" name="nearest_road_distance" placeholder="Enter a Float"
                            id="id_nearest_road_distance"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_nearest_police_distance" class="">Nearest Police  Presence(Distance(in Kms))</label>
                        <input class="form-control" type="float" name="nearest_police_distance" placeholder="Enter a Float"
                            id="id_nearest_police_distance"></div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_head_quarter" class="">Head Quarter Of Local Unit</label>
                        <input class="form-control" type="text" name="head_quarter" maxlength="100" required id="id_head_quarter" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_communication_landline" class="">Available Means Of Communication(Landline)</label>
                        <input class="form-control" type="text" name="communication_landline" maxlength="100" required id="id_communication_landline" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_communication_mobile" class="">Available Means Of Communication(Mobile)</label>
                        <input class="form-control" type="text" name="communication_mobile" maxlength="100" required id="id_communication_mobile" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_communication_internet" class="">Available Means Of Communication(Mobile Internet)</label>
                        <input class="form-control" type="text" name="communication_internet" maxlength="100" required id="id_communication_internet" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_communication_internet_other" class="">Available Means Of Communication(Other Internet)</label>
                        <input class="form-control" type="text" name="communication_internet_other" maxlength="100" required id="id_communication_internet_other" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_nearest_police_location_name" class="">Nearest police Presence(Location Name)</label>
                        <input class="form-control" type="text" name="nearest_police_location_name" maxlength="100" required id="id_nearest_police_location_name" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_available_electricity_maingrid" class="">Available means of electricity main grid</label>
                        <input class="form-control" type="text" name="available_electricity_maingrid" maxlength="100" required id="id_available_electricity_maingrid" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_available_electricity_micro_hydro" class="">Available means of electricity micro-hydro</label>
                        <input class="form-control" type="text" name="available_electricity_micro_hydro" maxlength="100" required id="id_available_electricity_micro_hydro" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_nearest_road_location_name" class="">Nearest Road Acess(Lacation Name)</label>
                        <input class="form-control" type="text" name="nearest_road_location_name" maxlength="100" required id="id_nearest_road_location_name" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_categorisation_by_sakchyam" class="">Categorisation by sakchyam</label>
                        <input class="form-control" type="text" name="categorisation_by_sakchyam" maxlength="100" required id="id_categorisation_by_sakchyam" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group error">
                        <label for="id_nearest_road_type" class="">Nearest road aceess(Type Of Road)</label>
                        <input class="form-control" type="text" name="nearest_road_type" maxlength="100" required id="id_nearest_road_type" />
                    </div>
                </div>

            </div>




            <div class="form-group mrt-100">
                <button type="submit" class="sakchyam-button sm-button">Save</button>
            </div>
        </div>
    </form>
</main>
{% endif %}
{% endblock %}