{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="sakchyam-main">
    <!-- sakchyam breadcrumb -->
    <div class="sakchyam-breadcrumb">
        <ul class="flex-start">
            <li>
                <a href="#">User Management</a>
            </li>


            <li>
                User List
            </li>


        </ul>
        <button class="sakchyam-button">Add new</button>
    </div>


    <div class="logframe">
        <!-- logframe table -->
        <div class="table-tesponsive ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <table class="logframe-table dataTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Status</th>
                    <th>role</th>
                    <th></th>


                    <!--                <th></th>-->
                </tr>
                </thead>
                <tbody>
                {% for user in list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        <div class="user">
                            <figure>
                                {% if user.thumbnail %}
                                <img src="{{ user.thumbnail.url }}" alt="org"/>
                                {% else %}
                                <img src="{% static 'dashboard/images/admin.png' %}" alt="org"/>
                                {% endif %}
                            </figure>
                            <h6>{{user.full_name}}</h6>
                        </div>

                    </td>
                    <td>{{ user.email }}</td>
                    <td>


                        {% if user.user.is_active %}

                        <span class="status green">Active</span>

                        {% else %}

                        <a href="/dashboard/activate/{{ user.user.id }}">
                            <button type="button" class="btn btn-outline-info">Activate</button>
                        </a>

                        {% endif %}


                    </td>

                    <td>
                        {% if user.user.is_superuser %}
                        admin
                        {% else %}

                        {% if user.user.groups.all.exists %}

                        {% for grp in user.user.groups.all %}
                        {{ grp.name }}
                        {% endfor %}

                        {% else %}

                        <a href="/dashboard/assign-role/{{ user.user.id }}">
                            <button type="button" class="sakchyam-button sm-button">Assign Role</button>
                        </a>

                        {% endif %}
                        {% endif %}

                    </td>


                    <td>
                        <div class="table-action">
                            <a href="#" class="more-action">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-animation">
                                <li>
                                    <a href="/dashboard/logdata-edit/{{data.id}}/{{ list.first.category.id }}/{{ list.first.sub_category.id }}/{{ list.first.title.id }}"
                                       class="flex-start">
                                        <i class="material-icons">edit</i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex-start">
                                        <i class="material-icons">delete</i>delete
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
{% endblock %}